<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/public/style.css" rel="stylesheet">
</head>
<body>

    <h1>Login</h1>
    
    <form action="/logar" method="post">
        <input type="text" name="usuario" placeholder="Digite o seu usuário">
        <input type="text" name="senha" placeholder="Digite a sua senha">
        <button type="submit" class="btn btn-outline-success">logar</button>
        <a href=""><h2>Esqueci a Senha</h2></a> 
    </form>

 

</body>
</html>